@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Peyda/eot/PeydaWeb-Black.eot");
  src: url("../fonts/Peyda/eot/PeydaWeb-Black.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/Peyda/woff2/PeydaWeb-Black.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../fonts/Peyda/woff/PeydaWeb-Black.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/Peyda/ttf/Peyda-Black.ttf") format("truetype");
}

@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Peyda/eot/PeydaWeb-Bold.eot");
  src: url("../fonts/Peyda/eot/PeydaWeb-Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/Peyda/woff2/PeydaWeb-Bold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../fonts/Peyda/woff/PeydaWeb-Bold.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/Peyda/ttf/Peyda-Bold.ttf")
      format("truetype");
}

@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Peyda/eot/PeydaWeb-Medium.eot");
  src: url("../fonts/Peyda/eot/PeydaWeb-Medium.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/Peyda/woff2/PeydaWeb-Medium.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../fonts/Peyda/woff/PeydaWeb-Medium.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/Peyda/ttf/Peyda-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Peyda/eot/peydaWeb-light.eot");
  src: url("../fonts/Peyda/eot/peydaWeb-light.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/Peyda/woff2/peydaWeb-light.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../fonts/Peyda/woff/peydaWeb-light.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/Peyda/ttf/peyda-light.ttf") format("truetype");
}

@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Peyda/eot/peydaWeb-extralight.eot");
  src: url("../fonts/Peyda/eot/peydaWeb-extralight.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/Peyda/woff2/peydaWeb-extralight.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../fonts/Peyda/woff/peydaWeb-extralight.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/Peyda/ttf/peyda-extralight.ttf") format("truetype");
}

@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Peyda/eot/PeydaWeb-Regular.eot");
  src: url("../fonts/Peyda/eot/PeydaWeb-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/Peyda/woff2/PeydaWeb-Regular.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../fonts/Peyda/woff/PeydaWeb-Regular.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/Peyda/ttf/Peyda-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes OPACITY-IN {
  to {
    opacity: 1;
  }
}

@keyframes MOVEUP-BG {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20%);
  }
}

@keyframes MOVEUP-OVERLAY {
  from {
    /* background-position-y: 0%;
    transform: scaleY(1.1); */
    background-size: 100% 110%;
    height: 70%;
  }
  to {
    /* background-position-y: 100%;
    transform: scaleY(1.4); */
    background-size: 100% 80%;
    height: 100%;
  }
}

@keyframes MOVEUP-BTNWRAPPER {
  from {
    bottom: -10%;
  }
  to {
    bottom: 3%;
  }
}

@keyframes MOVETORIGHT-MESSAGE {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
